## <p style='text-align: center;'>New York Citi Bike Data Analysis</p>

In [2]:
# import dependencies
import pandas as pd
import psycopg2
import sqlalchemy
import numpy as np
import matplotlib as plt

%matplotlib inline

In [3]:
# connect Postgres db 
from sqlalchemy import create_engine

In [4]:
# the username and pw is 'postgres'
engine = create_engine("postgresql://postgres:postgres@localhost:5432/CitiBike")
conn = engine.connect()

In [ ]:
# test the conn with simple query and view tables at the same time
tables = pd.read_sql("SELECT * from information_schema.tables WHERE table_catalog = 'CitiBike' AND table_schema = 'public'", conn)
tables.head(50)

<div class="alert alert-block alert-info">
    <b>Note:</b> The tables were given poor names such as january_2018 instead of 01_2018 and they do not include a primary key yet. It is recommended to use better names and have a pk.
</div>

### Create the new table to combine the data in pgAdmin

CREATE TABLE cumulative (
	id serial primary key,
	tripduration integer NOT NULL, 
	starttime date, stoptime date, 
	start_station_id varchar(20), 
	start_station_name varchar, 
	start_station_latitude float, start_station_longitude float,
	end_station_id varchar(20), end_station_name varchar, 
	end_station_latitude float, end_station_longitude float, 
	bikeid varchar(20),
	usertype varchar(20), birth_year varchar(4), gender integer
);

<div class="alert alert-block alert-info">
    <b>Note:</b> If you remebered to add the primary key to your initial tables, then all you need to do is copy a table setup into the new table instead of typing all the columns as in the above block.
</div>

### Here is the code to create a new table copying an existing table structure: 
SELECT * FROM september_2019; --choose any existing table to copy the format

CREATE TABLE cumulative AS TABLE september_2019 WITH NO DATA;

SELECT * FROM cumulative;  -- test that we have the matching empty table

### Add tables into cumulative table
-- insert data from direct import 

INSERT INTO public.cumulative( tripduration, starttime, stoptime, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bikeid, usertype, birth_year, gender)   
(SELECT * FROM <strong>april_2018</strong>);

-- and test this out with 

SELECT * FROM cumulative LIMIT 10;

#### - - repeat this statement, changing the table name, for the remaining 22 tables:

INSERT INTO public.cumulative( tripduration, starttime, stoptime, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bikeid, usertype, birth_year, gender)   
(SELECT * FROM <strong>april_2019</strong>);

### Now we are ready to query the combined table

In [ ]:
# lets take a look at the data
station_count = pd.read_sql("SELECT COUNT(DISTINCT start_station_name) FROM cumulative", conn)
station_count

### We want to remove some unneccesary data from the table

Since the [CitiBike pricing](https://www.citibikenyc.com/pricing) states the <strong>max</strong> time you can have a bike is <strong>45 minutes</strong>, lets looks there first.

In [ ]:
testmaxduration = pd.read_sql("SELECT tripduration FROM cumulative WHERE tripduration > (45*60) ORDER BY tripduration DESC LIMIT 50",conn)
testmaxduration.head(50)

### We can see there are plenty of trips that are over the 45 min mark, which could mean the bikes failed to properly dock, they were stolen or something else.

In [ ]:
# Im a day there are 
h = 24 # 24 hours per day
m = 60 # 60 min per hour
s = 60 # 60 sec per min
d = h*m*s
print(f'There are {d} seconds per day')

#### Taking a look at trips greater than 1 day:

In [ ]:
testmaxduration = pd.read_sql("SELECT tripduration, starttime, start_station_id, start_station_name, bikeid, usertype, birth_year, gender FROM cumulative WHERE tripduration > (86400) ORDER BY tripduration DESC LIMIT 200",conn)

In [ ]:
tmd = pd.DataFrame(testmaxduration)
tmd.head(50)

In [ ]:
# adding in end_station and a few other columns 
testmax2 = pd.read_sql("SELECT tripduration, starttime, start_station_id, end_station_id, start_station_name, end_station_name, bikeid, usertype, birth_year, gender FROM cumulative WHERE tripduration > (86400) order BY tripduration DESC LIMIT 50",conn)
testmax2.head(50)

**I am going to remove any data with trip duration > 1 day and less than 90 seconds.** Citi has already excluded trips less than 60 seconds.

<div class="alert alert-block alert-info">
    <b>Warning:</b> The following statement takes <strong>4-5 minutes</strong> to run in postgres, so this may be a good time to go make a sandwich or actually go for a bike ride.
</div>


![newbikes](Images/newbikes.PNG)

In [6]:
# Getting an approximate count
# The approximate_row_count happens to be MUCH FASTER than simply using COUNT

nb_ct = pd.read_sql("SELECT reltuples AS approximate_row_count FROM pg_class WHERE relname = 'newbikes'",conn)
nb_ct

   approximate_row_count
0             19012520.0

## 19 million rows!

In [7]:
# Out of curiosity, what was the initial aprox count? 

cumul_ct = pd.read_sql("SELECT reltuples AS approximate_row_count FROM pg_class WHERE relname = 'cumulative'",conn)
cumul_ct

   approximate_row_count
0             19147684.0

In [8]:
cumul_ct - nb_ct

   approximate_row_count
0               135164.0

### If only there was a way to make smaller and more meaningful tables...

<img width="250" height="250" src="Images/death-brainstorm.png">

@Ideas: make smaller tables grouping and joining trips by:
* gender, age
* usertype
* quarters
* most active stations
* aggregate functions
* top n

In [ ]:
# If we divide this data by quarters we should get about 19,024,000/7.66 rows per quarter or 
int(19024000/7.66) #since we are missing december 2019

But since we know the max rows for an excel file is about 1,048,000, and we don't want to use files that large anyway, 
we will need to make smaller files.

### Back to pgadmin
We are going to create a table of the starting stations and the count of trips each station recorded

SELECT COUNT(id), start_station_name  
FROM newbikes  
GROUP BY start_station_name  
ORDER BY COUNT(id) DESC;

### Using pgadmin, we can export this table to a csv to load into Tableau
(we can also create a df in python here and write to csv)

![start-stations](Images/start_stations.PNG)

### In order to map this in tableau, lets inner join this with the station long and lats in a new table 
![start-station_joined](Images/start-station-join-coords.PNG)
<br>Then we simply <strong> Export</strong> the CSV file

### Now we want to check the ridership differences between gender

SELECT COUNT(id), gender   
INTO gender_counts  
FROM newbikes  
GROUP BY gender  
ORDER BY COUNT(id) desc;  

Returns: 
![count gender](Images/gender.PNG)

Remember: (Zero=unknown; 1=male; 2=female)

### Check the ridership differences between age

### We need to convert the birth_year date values to integers to convert them to ages

ALTER TABLE newbikes  
ALTER COLUMN birth_year TYPE integer  
USING birth_year::integer;

### Create a table of trip counts by age
SELECT COUNT(id), 2020 - birth_year as age  
INTO trips_per_age  
FROM newbikes  
GROUP BY age  
ORDER BY COUNT(id) desc;

### Let's take a look at the data:

select * from trips_per_age  
ORDER BY age desc  
limit 10;  

![reallyOldbikers](Images/reallyOldbikers.PNG)

#### As of today, the oldest verified living person is only 117 years old, and while they probably aren't doing much bike riding, I will remove anyone older than 117 years of age.  

I hope I can still ride a bicycle at that age!

    DROP TABLE trips_per_age;

### And now recreate 

SELECT COUNT(id), 2020 - birth_year as age  
INTO trips_per_age  
FROM newbikes  
<strong>WHERE 2020 - birth_year <= 117</strong>  
GROUP BY age  
ORDER BY COUNT(id) desc;

![geriactricRiders](Images/geriatricRiders.PNG)

#### While exercise will probably make you live longer, it seems like we discovered an anomaly in the data

### Lets quickly DELETE the data from the table we are querying where the age is greater than 117
DELETE FROM newbikes  
WHERE 2020 - birth_year >117;

<div class="alert alert-block alert-info">
    <b>Note: </b> We also need the category tables (age, gender) to include the trip durations
</div>

SELECT SUM(tripduration), 2020 - birth_year as age  
INTO age_durations  
FROM newbikes  
GROUP BY age  
ORDER BY SUM(tripduration) desc;  

SELECT * FROM age_durations;

![agedurations](Images/age_durations.PNG)

<div class="alert alert-block alert-info">
    Did you guess that 51 year olds would be leading the chart in total trip durations and counts? </div>

### Join the tables that have age count and sums
SELECT ta.age, ta.count, ad.sum  
INTO age_count_and_duration  
FROM trips_per_age as ta  
INNER JOIN age_durations as ad  
ON ta.age = ad.age  
GROUP BY ta.count, ta.age,  
ad.sum;

### Now for the gender

SELECT gc.gender, gc.count, gd.sum  
INTO gender_count_and_duration  
FROM gender_counts as gc  
INNER JOIN gender_durations as gd  
ON gc.gender = gd.gender  
GROUP BY gc.count,  
gd.sum, gc.gender;  

SELECT * from gender_count_and_duration;  

![gcd](Images/gender_counts_duration.PNG)

### Creating a table to show trip counts and duration by usertype and gender 

SELECT usertype, gender, count(gender) as trip_counts,  (count(tripduration)/60) as "duration (min)"  
into usercounts  
from newbikes  
group by usertype, gender  
order by usertype desc;  
![ut](Images/usercounts.PNG)

### There is actually no surprise here, as men log many more trips than women. There are many reason for this, which have been analyzed in detail by others. Safety concerns by women and other reasons are large factors why women ride less than men in NYC.  
### Since the point of this project was to have fun with Tableau, we are going to stop here for now and take these csv's to Tableau:

### Now that we have created all the csv files - Let's create a Dashboard in Tableau!

<strong>[Comparison of 2018-2019 Starting Locations](https://public.tableau.com/profile/jon4546#!/vizhome/CitiBikeStartStationTripCountsDashboard/Dashboard1?publish=yes)
![dash1](Images/dash1.PNG)

[Usertype and Gender Analysis of Trip Durations](https://public.tableau.com/profile/jon4546#!/vizhome/UsertypeByGender/Dashboard1)
![utbygender](Images/UTbyGender.PNG)

### Interesting Phenomenom discovered: 
1. According to the data, there are riders older than any living human [Oldest Humans]
(https://en.wikipedia.org/wiki/List_of_the_verified_oldehttp://localhost:8888/notebooks/Images/UTbyGender.PNGst_people) 
Clearly there are some issues with the way Citi records age data.   
<br>
2. There are many null values, which were excluded from the visualizations, and they seem to be clustered in the same geographical location, indicating these may be caused by a maintenance or testing facility or the animals at the bronx zoo stole a few bikes and neatly lined them up in a checkerboard pattern. Hey, I'm not ready to rule out any hypothesis.  
<img width="300" height="300" src="Images/strangeNulls.PNG">  
<br>
3. There are many illogical trip durations exceeding 1 day, which may be an indication of stolen or forgotten bikes, improper returns something else entirely.  
<br>
4. It was interesting to see that male 51 year olds make up the largest rider group, and that females are disproportionately represented in both customer and subscriber categories. This has often been attributed to a lack of security, fear of harrassment/being a victim of a crime or difficulty carrying children or items such as purses.  
<br>
5. Also, we can see that the subscription program has been quite a success.

### Thank you to Citi Bike for providing this data for some fun analysis!!